<div class="w-full lg:aspect-[128/80] lg:px-5 space-y-[50px] lg:space-y-0">
  <div class="lg:absolute lg:inset-0 px-5 lg:px-10 w-full lg:h-full flex flex-col items-start text-dark-grey lg:text-white lg:py-8">
    <div class="text-4xl md:text-6xl font-serif">
      {{ section.settings.text }}
    </div>

    {% if section.blocks.size > 0 %}
      <div class="hidden lg:block lg:grow"></div>
      <div
        class="hidden lg:grid w-full gap-[50px]"
        style="grid-template-columns: repeat({{ section.blocks.size | at_most: 3 }}, 1fr);"
      >
        {% for block in section.blocks %}
          {% if block.type == 'content-item' %}
            <div class="flex flex-col items-start gap-[10px]">
              <div class="size-[33px] border border-white/25 rounded-full flex items-center justify-center text-sm font-bold font-sans tracking-[0.15em] leading-none">
                {{ forloop.index }}
              </div>
              <h3 class="text-sm font-sans tracking-[0.15em] uppercase">{{ block.settings.title }}</h3>
              <p class="italic font-serif">{{ block.settings.body }}</p>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  </div>

  <video
    loading="lazy"
    preload="none"
    src="{{ section.settings.background_video }}"
    poster="{{ section.settings.fallback_image | image_url: width: 2000 }}"
    class="w-full h-full object-cover bg-gray-200 px-5 aspect-video lg:aspect-[initial] lg:px-0"
  ></video>

  {% comment %} Mobile Steps {% endcomment %}
  {% if section.blocks.size > 0 %}
    <div id="giant-video-swiper" class="swiper lg:hidden px-5 pb-[50px] relative">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          {% if block.type == 'content-item' %}
            <div class="swiper-slide">
              <div class="flex flex-col items-center justify-center gap-[10px] text-center">
                <div class="size-[33px] border border-black/25 rounded-full flex items-center justify-center text-sm uppercase font-sans tracking-[0.15em] leading-none">
                  <span>{{ forloop.index }}</span>
                </div>
                <h3 class="text-sm font-sans tracking-[0.15em] uppercase">{{ block.settings.title }}</h3>
                <p class="italic font-serif">{{ block.settings.body }}</p>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <div class="swiper-pagination--giant-video"></div>
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "Giant Video",
  "class": "mt-50 mb-100",
  "settings": [
    {
      "type": "richtext",
      "id": "text",
      "label": "Heading Text",
      "default": "<p>Our olive oils are are <em>monocultivar</em>, meaning they are single varietal selection and are <em>hand-harvested</em>, ensuring <em>exceptional</em> flavors and aromas.</p>"
    },
    // Background Image Settings
    {
      "type": "header",
      "content": "Static Placeholder Image Settings",
      "info": "Upload a screenshot of your video here. This will be displayed while the video is loading or if the video fails to load."
    },
    {
      "type": "image_picker",
      "id": "fallback_image",
      "label": "Fallback Image"
    },
    // Background Video Settings
    {
      "type": "header",
      "content": "Background Video Settings"
    },
    {
      "type": "url",
      "id": "background_video",
      "label": "Background Video URL"
    }
  ],
  "blocks": [
    {
      "type": "content-item",
      "name": "Content Item",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "body",
          "label": "Body Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Giant Video"
    }
  ]
}
{% endschema %}
