<div class="relative w-full aspect-[44/80] xl:aspect-[128/80] xl:px-5">
  <div class="relative">
    <video
      src="{{ section.settings.background_video }}"
      autoplay
      loop
      muted
      playsinline
      class="w-full h-full object-cover bg-gray-400"
    ></video>

    <div class="absolute inset-0 p-5 w-full h-full flex flex-col items-start text-white xl:py-8">
      <div class="text-4xl md:text-6xl font-serif">
        {{ section.settings.text }}
      </div>

      <div class="grow xl:grow-0"></div>

      {% if section.settings.button_url and section.settings and section.settings.background_type != 'video' %}
        <div class="mt-[50px]">
          {% render 'ui-button',
            button_text: 'Shop Now',
            type: 'link',
            href: section.settings.button_url,
            style: 'faded'
          %}
        </div>
      {% endif %}

      {% if section.blocks.size > 0 %}
        <div class="xl:grow"></div>
        <div
          class="grid w-full gap-[50px]"
          style="grid-template-columns: repeat({{ section.blocks.size | at_most: 3 }}, 1fr);"
        >
          {% for block in section.blocks %}
            {% if block.type == 'content-item' %}
              <div class="flex flex-col items-start gap-[10px]">
                <div class="size-[33px] border border-white/25 rounded-full flex items-center justify-center text-sm font-bold leading-none">
                  {{ forloop.index }}
                </div>
                <h3 class="text-sm">{{ block.settings.title }}</h3>
                <p class="italic font-serif">{{ block.settings.body }}</p>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Giant Video",
  "settings": [
    {
      "type": "richtext",
      "id": "text",
      "label": "Heading Text",
      "default": "<p>An <em>invitation</em> to join us by purchasing olive oil.</p>"
    },
    // Background Image Settings
    {
      "type": "header",
      "content": "Static Placeholder Image Settings",
      "info": "Upload a screenshot of your video here. This will be displayed while the video is loading or if the video fails to load."
    },
    {
      "type": "image_picker",
      "id": "fallback_image",
      "label": "Fallback Image"
    },
    // Background Video Settings
    {
      "type": "header",
      "content": "Background Video Settings",
      "info": ""
    },
    {
      "type": "url",
      "id": "background_video",
      "label": "Background Video URL"
    }
  ],
  "blocks": [
    {
      "type": "content-item",
      "name": "Content Item",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "body",
          "label": "Body Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Giant Video"
    }
  ]
}
{% endschema %}
