<div class="mt-[72px] lg:!mt-0 text-center relative min-h-screen flex flex-col lg:flex-row lg:items-center lg:justify-between text-black lg:text-white lg:max-h-screen lg:mb-[90px]">
  {% comment %} H1 {% endcomment %}
  <div class="relative w-full lg:w-1/3 mt-[50px] lg:p-8 text-center z-10 lg:mt-0">
    {% if section.settings.heading != blank %}
      <h1 class="text-[40px] leading-[90%] font-bold uppercase lg:text-[65px]">{{ section.settings.heading }}</h1>
    {% endif %}
  </div>

  {% comment %} Text Content {% endcomment %}
  <div class="relative w-full lg:w-1/3 p-4 lg:p-8 text-center lg:order-3 text-xl leading-[90%]">
    {% if section.settings.text != blank %}
      <div class="prose max-w-[400px] mx-auto">{{ section.settings.text }}</div>
    {% endif %}
    {% if section.settings.button_text != blank %}
      <div class="flex justify-center mt-4">
        {% render 'ui-button',
          button_text: section.settings.button_text,
          href: routes.all_products_collection_url,
          class_names: 'border-black lg:border-white lg:text-white text-black'
        %}
      </div>
    {% endif %}
  </div>

  {% comment %} Background Image {% endcomment %}
  {% if section.settings.background_image != blank %}
    <div class="absolute bottom-0 left-0 {% if settings.enable_mobile %}mt-[25vh] lg:mt-0{% endif %} lg:inset-0 w-full aspect-square lg:aspect-auto lg:h-full">
      <img
        src="{{ section.settings.background_image | image_url: width: 2000 }}"
        width="2000"
        height="{{ 2000 | divided_by: section.settings.background_image.aspect_ratio | round }}"
        alt="{{ section.settings.background_image.alt | default: section.settings.heading }}"
        class="w-full h-full object-cover"
      >
    </div>
  {% endif %}

  {% comment %} Bottle Render {% endcomment %}
  {% if section.settings.bottle_image != blank %}
    <div class="relative z-10 lg:absolute lg:left-1/2 lg:-translate-x-1/2 w-full lg:w-1/3 lg:h-[calc(100%)] lg:order-2 lg:bottom-[-90px]">
      <img
        src="{{ section.settings.bottle_image | image_url: width: 800 }}"
        {% comment %} @TODO: make this correct {% endcomment %}
        width="800"
        height="{{ 800 | divided_by: section.settings.bottle_image.aspect_ratio | round }}"
        alt="{{ section.settings.bottle_image.alt | default: 'Product bottle' }}"
        class="object-contain w-full h-full"
      >
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "Homepage Hero",
  "settings": [
    {
      "type": "header",
      "content": "Text Content Settings"
    },
    {
      "type": "html",
      "id": "heading",
      "label": "Heading",
      "default": "<p>Compromise <br/> Nothing</p>"
    },
    {
      "type": "html",
      "id": "text",
      "label": "Subtext",
      "default": "<p>Our belief in world-class olive oils starts from the ground up.</p>"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Shop Now"
    },
    {
      "type": "header",
      "content": "Background Image Settings"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background image"
    },
    {
      "type": "header",
      "content": "Bottle Render Settings"
    },
    {
      "type": "image_picker",
      "id": "bottle_image",
      "label": "Bottle image"
    }
  ],
  "presets": [
    {
      "name": "Homepage Hero"
    }
  ]
}
{% endschema %}
