<div class="min-h-screen bg-white xl:mb-52">
  <div class="w-full px-4 py-5 ">
    <div class="grid grid-cols-1 xl:grid-cols-2 xl:gap-12 xl:divide-x xl:divide-x-border">
      <div class="h-[calc(100vh-68px)] flex flex-col justify-center xl:block">
        {% comment %} Mobile Product Title and Description {% endcomment %}
        <div class="block xl:hidden text-center max-w-xs mx-auto">
          <div class="text-grey-50 uppercase text-sm font-sans tracking-[0.15em]">
            {{ product.metafields.tvo.tagline }}
          </div>
          <h2
            class="text-4xl font-serif mt-[10px] text-dark-grey"
            style="color: {{ product.metafields.tvo.label_color | default: '#000000' }}"
          >
            {{ product.title }}
          </h2>
          <p class="text-dark-grey mt-4 text-xl">{{ product.description }}</p>
        </div>

        <!-- Product Image -->
        <div class="xl:w-full h-full relative grow xl:flex xl:justify-center xl:items-center">
          {% if product.featured_image != blank %}
            <img
              src="{{ product.featured_image | image_url: width: 1000 }}"
              alt="{{ product.featured_image.alt | default: product.title }}"
              {% comment %} @TODO: make correct aspect ratio {% endcomment %}
              width="1000"
              height="{{ 1000 | divided_by: product.featured_image.aspect_ratio | round }}"
              class="absolute w-full h-full object-contain xl:w-[initial] mx-auto"
            >
          {% else %}
            <div class="absolute w-full h-full bg-gray-100"></div>
          {% endif %}
        </div>
      </div>
      <!-- Product Details -->
      <div class="px-5 xl:pr-0 xl:py-10">
        <div class="w-full max-w-[350px] mx-auto">
          <div class="hidden xl:block mb-6">
            <div class="text-grey-50 uppercase text-sm font-sans tracking-[0.15em]">
              {{ product.metafields.tvo.tagline }}
            </div>
            <h2
              class="text-4xl font-serif mt-[10px] text-dark-grey"
              style="color: {{ product.metafields.tvo.label_color | default: '#000000' }}"
            >
              {{ product.title }}
            </h2>
            <p class="text-dark-grey mt-4 text-xl">{{ product.description }}</p>
          </div>

          {% form 'product', product, class: 'space-y-6' %}
            <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">

            <!-- Quantity Selector -->
            <div class="border-b border-border pb-5 flex justify-between items-center">
              <label for="quantity" class="block text-dark-grey italic font-serif">Quantity</label>
              <div class="flex gap-4">
                {% for i in (1..4) %}
                  <div class="flex items-center">
                    <input
                      type="radio"
                      name="quantity"
                      id="quantity-{{ i }}"
                      value="{{ i }}"
                      class="sr-only peer"
                      {% if forloop.first %}
                        checked
                      {% endif %}
                    >
                    <label
                      for="quantity-{{ i }}"
                      class="flex items-center justify-center border-b border-transparent hover:border-b-dark-grey peer-checked:border-b-dark-grey cursor-pointer text-grey-50 peer-checked:text-dark-grey"
                    >
                      {{ i }}
                    </label>
                  </div>
                {% endfor %}
              </div>
            </div>

            <!-- Purchase Options -->
            <div class="space-y-5 border-b border-border pb-5">
              <label for="one-time" class="flex items-center justify-between cursor-pointer">
                <div class="flex items-center space-x-2">
                  <input
                    type="radio"
                    name="selling_plan"
                    value=""
                    id="one-time"
                    checked
                    class="appearance-none size-5 border border-grey-50 rounded-full checked:before:content-[''] checked:before:absolute checked:before:w-[10px] checked:before:h-[10px] checked:before:bg-dark-grey checked:border-dark-grey checked:before:rounded-full checked:before:top-1/2 checked:before:left-1/2 checked:before:-translate-x-1/2 checked:before:-translate-y-1/2 relative cursor-pointer"
                  >
                  <span class="ml-2 font-serif">One-time purchase</span>
                </div>
                <span>{{ product.price | money }}</span>
              </label>
              {% if product.selling_plan_groups.size > 0 %}
                <label for="subscribe" class="flex items-center justify-between cursor-pointer">
                  <div class="flex items-center space-x-2">
                    <input
                      type="radio"
                      name="selling_plan"
                      value="{{ product.selling_plan_groups[0].selling_plans[0].id }}"
                      id="subscribe"
                      class="appearance-none size-5 border border-grey-50 rounded-full checked:before:content-[''] checked:before:absolute checked:before:w-[10px] checked:before:h-[10px] checked:before:bg-dark-grey checked:border-dark-grey checked:before:rounded-full checked:before:top-1/2 checked:before:left-1/2 checked:before:-translate-x-1/2 checked:before:-translate-y-1/2 relative cursor-pointer"
                    >
                    <span class="ml-2 font-serif">Subscribe and save</span>
                  </div>
                  <span class="flex items-center gap-1 font-serif italic">
                    {{ product.price | times: 0.9 | money }}
                    <span class="text-coratina-green">Save 10%</span>
                  </span>
                </label>
              {% endif %}
            </div>

            <!-- Frequency Selector -->
            {% if product.selling_plan_groups.size > 0 %}
              <div class="relative">
                <select
                  name="selling_plan"
                  class="w-full border border-border rounded-sm text-dark-grey uppercase font-sans tracking-[0.15em] text-sm appearance-none p-[14px] cursor-pointer"
                >
                  {% for selling_plan in product.selling_plan_groups[0].selling_plans %}
                    <option
                      value="{{ selling_plan.id }}"
                      {% if forloop.first %}
                        selected
                      {% endif %}
                    >
                      {{ selling_plan.name }}
                    </option>
                  {% endfor %}
                </select>
                <div class="absolute right-[14px] top-0 h-full flex items-center justify-center">
                  {% render 'icon-arrow-down' %}
                </div>
              </div>
            {% endif %}

            <!-- Add to Cart Button -->
            <button
              type="submit"
              name="add"
              class="w-full bg-dark-grey text-white uppercase font-sans tracking-[0.15em] text-sm p-5"
              {% unless product.available %}
                disabled
              {% endunless %}
            >
              {% if product.available %}
                Add to Cart
              {% else %}
                Sold Out
              {% endif %}
            </button>
          {% endform %}

          <!-- Product Specifications -->
          <div class="hidden xl:block pt-10">
            {% if product.metafields.tvo.harvest != blank %}
              <div class="flex justify-between border-b border-[#4C4C46]/25 pb-[10px]">
                <span class="text-grey-50 uppercase font-sans tracking-[0.15em] text-sm">HARVEST</span>
                <span class="font-serif italic text-grey-50">{{ product.metafields.tvo.harvest }}</span>
              </div>
            {% endif %}

            {% if product.metafields.tvo.polyhenial_count != blank %}
              <div class="flex justify-between border-b border-[#4C4C46]/25 py-[10px]">
                <span class="text-grey-50 uppercase font-sans tracking-[0.15em] text-sm">POLYPHENIAL COUNT</span>
                <span class="font-serif italic text-grey-50">{{ product.metafields.tvo.polyhenial_count }}</span>
              </div>
            {% endif %}

            {% if product.metafields.tvo.intensity != blank %}
              <div class="flex justify-between items-start border-b border-[#4C4C46]/25 py-[10px]">
                <span class="text-grey-50 uppercase font-sans tracking-[0.15em] text-sm">INTENSITY</span>
                <span class="text-right max-w-[220px] font-serif italic text-grey-50">
                  {{ product.metafields.tvo.intensity | newline_to_br }}
                </span>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="border-t border-border mt-[50px] xl:mt-5"></div>
  </div>
  <div class="px-5 text-dark-grey font-medium font-serif text-[32px] xl:text-[36px] leading-tight tracking-[0.01em]">
    {{ product.metafields.tvo.varietal_long_description | metafield_tag }}
  </div>
</div>
{% schema %}
{
  "name": "Main Product",
  "class": "mb-100 xl:mb-52"
}
{% endschema %}
