<div class="container mx-auto px-5">
  <article class="max-w-3xl mx-auto">
    <header class="text-center mb-50">
      <h1 class="text-[40px] xl:text-[65px] uppercase max-w-sm mx-auto">{{ article.title }}</h1>
      <p class="italic font-serif mt-5">{{ article.published_at | date: '%B %d, %Y' }}</p>
    </header>

    {% if article.image %}
      <div class="aspect-[16/9] relative mb-50">
        <img
          src="{{ article.image | image_url: width: 1200 }}"
          alt="{{ article.image.alt }}"
          class="absolute inset-0 w-full h-full object-cover"
          width="{{ article.image.width }}"
          height="{{ article.image.height }}"
          loading="lazy"
        >
      </div>
    {% endif %}

    <div class="font-serif prose mx-auto">
      {{ article.content }}
    </div>
  </article>
</div>

{% schema %}
{
  "name": "Main Article",
  "class": "my-50 xl:my-100",
  "settings": []
}
{% endschema %}
