<div class="w-full p-5">
  <h1 class="text-center font-heading">
    {{ collection.title }}
  </h1>
  <div class="pt-[50px] grid grid-cols-1 md:grid-cols-3 gap-8">
    {% for product in collection.products %}
      <div
        class="
          group relative
          {% if forloop.index > 1 %}border-t md:border-t-0 md:border-l border-border{% endif %}
          {% if product.tags contains 'ui:plp-full-row' %}md:col-span-3 !border-x-0 md:!border-t border-border{% endif %}
        "
      >
        <div class="{% if product.tags contains 'ui:plp-full-row' %}aspect-square xl:aspect-video xl:max-w-[75%] mx-auto{% else %}aspect-square{% endif %} overflow-hidden">
          {% if product.featured_image != blank %}
            <img
              src="{{ product.featured_image | image_url: width: 800 }}"
              alt="{{ product.featured_image.alt | default: product.title }}"
              width="800"
              height="{{ 800 | divided_by: product.featured_image.aspect_ratio | round }}"
              class="h-full w-full object-contain"
            >
          {% else %}
            <div class="h-full w-full bg-grey-50"></div>
          {% endif %}
        </div>

        <div class="space-y-2 text-center">
          <h3
            class="text-2xl uppercase font-sans tracking-[0.15em]"
            style="color: {{ product.metafields.tvo.label_color | default: '#000000' }}"
          >
            {{ product.title }}
          </h3>
          <div class="italic font-serif">
            {% if product.metafields.tvo.tagline != blank %}
              <p class=" text-dark-grey">{{ product.metafields.tvo.tagline }}</p>
            {% endif %}
            <p class="text-dark-grey">{{ product.price | money }}</p>
          </div>
          <a href="{{ product.url }}" class="absolute inset-0" aria-label="View {{ product.title }}"></a>
        </div>
      </div>
    {% endfor %}
    <div class="md:col-span-3 border-t border-border"></div>
  </div>
</div>

{% schema %}
{
  "name": "Main Collection"
}
{% endschema %}
