<script src="{{ 'sections-main-product.min.js' | asset_url }}" async></script>

<div class="min-h-screen bg-white mb-100">
  <div class="w-full px-4 py-5">
    <div class="grid grid-cols-1 lg:grid-cols-2 lg:gap-0">
      {% comment %} Product Images {% endcomment %}
      <div class="min-h-[calc(100vh-68px)] flex flex-col justify-center lg:block lg:min-h-[calc(100vh-68px)] lg:h-auto">
        {% comment %} Mobile Product Title and Description {% endcomment %}
        <div class="block lg:hidden text-center max-w-xs mx-auto">
          <div class="text-grey-50 uppercase text-sm font-sans tracking-[0.15em]">
            {{ product.metafields.tvo.tagline }}
          </div>

          {% if product.metafields.tvo.unit_size != blank %}
            <div class="text-dark-grey font-serif italic">
              {{ product.metafields.tvo.unit_size }}
            </div>
          {% endif %}

          <h2
            class="text-4xl font-serif mt-[10px] text-dark-grey"
            style="color: {{ product.metafields.tvo.label_color | default: '#000000' }}"
          >
            {{ product.title }}
          </h2>
          <p class="text-dark-grey mt-4 text-xl">{{ product.description }}</p>
        </div>

        {% comment %} Product Image {% endcomment %}
        <div class="lg:w-full h-full relative grow lg:flex lg:min-h-[calc(100vh-130px)] lg:h-auto gap-[40px] bg-[#FAFAFA] p-[10px] mt-[30px] lg:mt-0">
          {% comment %} Thumbnails for desktop only {% endcomment %}
          <div class="hidden lg:flex items-end">
            <div class="swiper swiper-thumbnails py-[20px]">
              <div class="swiper-wrapper">
                {% for image in product.images %}
                  <div class="swiper-slide w-[60px] min-h-[60px] cursor-pointer">
                    <img
                      src="{{ image | image_url: width: 100 }}"
                      alt="{{ image.alt | default: product.title }}"
                      width="100"
                      height="100"
                      class="w-full h-auto object-contain w-[60px] h-[60px] rounded-[6px]"
                      loading="lazy"
                    >
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>

          <div id="product-slider" class="swiper h-full w-full lg:h-auto">
            <div class="swiper-wrapper">
              {% for image in product.images %}
                <div class="swiper-slide sm:h-[calc(100vh-130px)]">
                  <img
                    src="{{ image | image_url: width: 1000 }}"
                    alt="{{ image.alt | default: product.title }}"
                    width="1000"
                    height="1000"
                    class="w-full h-full object-contain lg:w-[initial] mx-auto"
                    loading="lazy"
                  >
                  {% comment %} Only show the CCof icon on the first image for Olive Oil products {% endcomment %}
                  {% if forloop.first and product.type == 'Olive Oil' %}
                    <div class="absolute top-9 left-4 size-24 overflow-hidden sm:top-12 sm:left-12 lg:top-9 lg:left-4">
                      {% render 'icon-ccof', class: 'w-full h-full object-contain' %}
                    </div>
                  {% endif %}
                </div>
              {% endfor %}
            </div>
            <div class="swiper-pagination--product lg:hidden"></div>
          </div>
        </div>
      </div>

      {% comment %} Product Details {% endcomment %}
      <div class="lg:px-[50px] mt-4 lg:py-10 lg:mt-0 lg:pt-0">
        <div class="w-full lg:sticky lg:top-[108px]">
          <div class="hidden lg:block mb-6">
            <div class="flex items-center gap-2 justify-between">
              <div class="text-grey-50 uppercase text-sm font-sans tracking-[0.15em]">
                {{ product.metafields.tvo.tagline }}
              </div>

              {% if product.metafields.tvo.unit_size != blank %}
                <div class="text-dark-grey font-serif italic">
                  {{ product.metafields.tvo.unit_size }}
                </div>
              {% endif %}
            </div>
            <h2
              class="text-4xl font-serif mt-[10px] text-dark-grey"
              style="color: {{ product.metafields.tvo.label_color | default: '#000000' }}"
            >
              {{ product.title }}
            </h2>
            <p class="text-dark-grey mt-4 text-xl">{{ product.description }}</p>
          </div>

          {% render 'product-form' %}
        </div>
      </div>
      {% comment %} End Product Details {% endcomment %}
    </div>
    <div class="border-t border-border mt-[50px] lg:mt-5"></div>
  </div>

  {% comment %} Long Description {% endcomment %}
  <div class="px-5 text-dark-grey font-medium font-serif text-[32px] lg:text-[36px] leading-tight tracking-[0.01em]">
    {{ product.metafields.tvo.varietal_long_description | metafield_tag }}
  </div>
</div>

{% render 'product-specifications' %}
{% render 'product-polyphenol-chart' %}

{% schema %}
{
  "name": "Main Product",
  "class": "mb-100 lg:mb-52",
  "settings": [
    {
      "type": "header",
      "content": "Product Accordion"
    },
    {
      "type": "richtext",
      "label": "Product Details",
      "id": "product_details"
    },
    {
      "type": "richtext",
      "label": "Farm Details",
      "id": "farm_details"
    },
    {
      "type": "richtext",
      "label": "Shipping Info",
      "id": "shipping_info"
    }
  ]
}
{% endschema %}
