<div class="grid grid-cols-1 lg:grid-cols-10 lg:grid-rows-2 gap-y-[50px] lg:border-b lg:border-gray-200 pb-5">
  <div class="lg:col-span-4 px-5">
    <div class="">
      <div class="mt-5 font-serif text-[22px] lg:max-w-sm">{{ section.settings.section_body }}</div>
    </div>
  </div>
  <div class="lg:row-span-2 lg:col-span-6">
    <div class="swiper border-l border-gray-200" id="photo-slider--images">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          {% if block.type == 'slide' %}
            <div class="swiper-slide pr-5 border-r mr-5 border-gray-200 {% if forloop.first %}ml-5{% endif %}">
              <div class="aspect-[36/43] relative bg-red-500">
                <img
                  src="{{ block.settings.image | image_url: width: 1000 }}"
                  alt="{{ block.settings.image.alt }}"
                  class="absolute inset-0 w-full h-full object-cover"
                  width="{{ block.settings.image.width }}"
                  height="{{ block.settings.image.height }}"
                  loading="lazy"
                >
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="lg:col-span-4 lg:col-start-1 lg:row-start-2 lg:row-end-3 w-full flex flex-col justify-end px-5">
    <div
      class="swiper w-full space-y-5 flex flex-col justify-end relative max-w-md mx-auto lg:mx-0 pb-[80px] lg:pb-0"
      id="photo-slider--text"
    >
      {% comment %} Navigation Controls {% endcomment %}
      <div class="flex gap-[10px] items-center">
        <button class="swiper-button-prev--text static after:hidden hidden border border-gray-200 rounded-full size-[33px] lg:flex items-center justify-center ">
          {% render 'icon-arrow-left' %}
        </button>
        <button class="swiper-button-next--text static after:hidden hidden border border-gray-200 rounded-full size-[33px] lg:flex items-center justify-center ">
          {% render 'icon-arrow-right' %}
        </button>
      </div>
      {% comment %} Actual Slider {% endcomment %}
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          {% if block.type == 'slide' %}
            <div class="swiper-slide w-full flex flex-col justify-end">
              <div class="max-w-md text-center mx-auto lg:text-left lg:mx-0">
                <h2 class="text-sm uppercase mb-[10px] font-sans tracking-[0.15em]">{{ block.settings.heading }}</h2>
                <p class="font-serif italic">{{ block.settings.body }}</p>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      {% comment %} Pagination Controls {% endcomment %}
      <div class="swiper-pagination--text block lg:hidden"></div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Photo Slider",
  "class": "my-100",
  "settings": [
    {
      "type": "richtext",
      "id": "section_body",
      "label": "Section Body",
      "default": "<p>This is a section body that will be displayed in the left content area.</p>"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "body",
          "label": "Body"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Photo Slider"
    }
  ]
}
{% endschema %}
