<header class="flex items-center justify-between relative w-full p-2">
  {% comment %} Left List {% endcomment %}
  <nav class="flex items-center gap-4">
    <ul class="flex items-center gap-1">
      {% for item in linklists['shop-menu'].links %}
        <li>
          <a href="{{ item.url }}" class="inline-block">
            {{- item.title -}}
          </a>
          <span>--</span>
          {% if item.links.size > 0 %}
            {% for child in item.links %}
              <a href="{{ child.url }}" class="inline-block">
                {{- child.title -}}
                {%- unless forloop.last %},{% endunless -%}
              </a>
            {% endfor %}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </nav>

  {% comment %} Center Logo {% endcomment %}
  <div class="site-header-logo absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2">
    {% if settings.logo != blank %}
      <img
        src="{{ settings.logo | image_url: width: 100 }}"
        alt="{{ settings.logo.alt | default: shop.name }}"
        width="{{ settings.logo_width }}"
        height="{{ settings.logo_width | divided_by: settings.logo.aspect_ratio | round }}"
      >
    {% else %}
      <span>{{ shop.name }}</span>
    {% endif %}
  </div>

  {% comment %} Rigth List {% endcomment %}
  <nav class="flex items-center gap-4">
    <ul class="flex items-center gap-1">
      {% for item in linklists['learn-menu'].links %}
        <li>
          <a href="{{ item.url }}" class="inline-block">
            {{- item.title -}}
          </a>
          <span>--</span>
          {% if item.links.size > 0 %}
            {% for child in item.links %}
              <a href="{{ child.url }}" class="inline-block">
                {{- child.title -}}
                {%- unless forloop.last %},{% endunless -%}
              </a>
            {% endfor %}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    <a href="{{ routes.cart_url }}" class="inline-block">
      Cart{% if cart.item_count > 0 %} ({{ cart.item_count }}){% endif -%}
    </a>
  </nav>
</header>

{% schema %}
{
  "name": "Site Header",
  "settings": []
}
{% endschema %}
