<footer class="py-[100px] px-5">
  <div class="relative flex flex-col justify-between items-center space-y-[100px] text-center lg:flex-row lg:flex-wrap">
    {% comment %} Mobile Logo {% endcomment %}
    <div class="flex justify-center items-center lg:hidden">
      {% if section.settings.logo %}
        {{ section.settings.logo | image_url: width: 320 | image_tag }}
      {% else %}
        {% render 'site-logo--secondary' %}
      {% endif %}
    </div>

    {% comment %} Newsletter Section {% endcomment %}
    <div class="w-full shrink-0 text-center mx-auto lg:order-0 max-w-[452px]">
      <div>
        <p class="uppercase mb-[10px] text-sm font-sans text-grey-50">{{ section.settings.newsletter_heading }}</p>
        <div class="italic font-serif leading-tight">
          {{ section.settings.newsletter_text }}
        </div>
      </div>
      {% form 'customer' %}
        <div class="mt-10">
          <fieldset class="border-b border-grey-400 flex focus-within:border-dark-grey">
            <input
              type="email"
              name="contact[email]"
              placeholder="{{ section.settings.newsletter_placeholder }}"
              class="focus:outline-none border-none text-left w-full text-[22px] font-serif text-dark-grey"
            >
            <button
              type="submit"
              class="uppercase border-none shrink-0 text-sm font-sans tracking-[0.15em] text-dark-grey flex items-center gap-6"
            >
              <span>{{ section.settings.newsletter_button }}</span>
              {% render 'icon-arrow-right' %}
            </button>
          </fieldset>
        </div>
        {% if form.posted_successfully? %}
          <div class="mt-4 p-4 bg-green-50 text-green-800 rounded" role="alert">
            <p>Thanks! You&apos;re subscribed.</p>
          </div>
        {% endif %}
        {% if form.errors %}
          <div class="mt-4 p-4 bg-red-50 text-red-800 rounded" role="alert">
            <h2 class="sr-only">Error</h2>
            {{ form.errors | default_errors }}
          </div>
        {% endif %}
      {% endform %}
    </div>

    {% comment %} Link Lists {% endcomment %}
    <div class="font-serif space-y-[55px] lg:w-full lg:shrink-0 lg:flex lg:flex-wrap lg:justify-between lg:items-center lg:relative lg:space-y-0">
      {% comment %} left column {% endcomment %}
      <div class="flex flex-col gap-1 max-w-sm w-full">
        {% assign menu = linklists['shop-menu-footer'] %}
        {% if menu.links.size > 0 %}
          <h4 class="text-grey-50">{{ menu.links.first.title }}</h4>
          <nav>
            <ul class="italic justify-center break-words text-dark-grey">
              {% for child_link in menu.links.first.links %}
                <li class="break-words inline">
                  <a href="{{ child_link.url }}" class="break-words">
                    {{- child_link.title -}}
                    {%- unless forloop.last -%},{%- endunless -%}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </nav>
        {% endif %}
      </div>

      {% comment %} Desktop Logo {% endcomment %}
      <div class="hidden lg:flex lg:justify-center lg:items-center  lg:absolute lg:top-1/2 lg:-translate-y-1/2 lg:left-1/2 lg:-translate-x-1/2">
        {% if section.settings.logo %}
          {{ section.settings.logo | image_url: width: 320 | image_tag }}
        {% else %}
          {% render 'site-logo--secondary' %}
        {% endif %}
      </div>

      {% comment %} right column {% endcomment %}
      <div class="flex flex-col gap-1 max-w-sm w-full">
        {% assign menu = linklists['learn-menu-footer'] %}
        {% if menu.links.size > 0 %}
          <h4 class="text-grey-50">{{ menu.links.first.title }}</h4>
          <nav>
            <ul class="italic justify-center break-words text-dark-grey">
              {% for child_link in menu.links.first.links %}
                <li class="break-words inline">
                  <a href="{{ child_link.url }}" class="break-words">
                    {{- child_link.title -}}
                    {%- unless forloop.last -%},{%- endunless -%}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </nav>
        {% endif %}
      </div>
    </div>

    {% comment %} Copyright {% endcomment %}
    <p class="mt-[55px] font-serif italic text-center lg:w-full lg:shrink-0 text-grey-50">
      Copyright {{ 'now' | date: '%Y' }} The Virgin Organic
    </p>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "header",
      "content": "Newsletter"
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "label": "Newsletter Heading",
      "default": "Sign up for our newsletter"
    },
    {
      "type": "richtext",
      "id": "newsletter_text",
      "label": "Newsletter Text",
      "default": "<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Curabitur blandit tempus porttitor. Nullam quis risus eget urna mollis ornare vel eu leo.</p>"
    },
    {
      "type": "text",
      "id": "newsletter_placeholder",
      "label": "Email Placeholder",
      "default": "Email Address"
    },
    {
      "type": "text",
      "id": "newsletter_button",
      "label": "Submit Button Text",
      "default": "Sign Up"
    }
  ]
}
{% endschema %}
