<header class="fixed flex items-center justify-between w-full font-serif italic top-0 left-0 right-0 p-5 text-black {% if template == 'index' %}lg:text-white lg:bg-transparent{% endif %} z-50 bg-white lg:bg-transparent">
  {% comment %} Left List {% endcomment %}
  <div>
    {% comment %} Desktop List{% endcomment %}
    <nav class="hidden lg:flex lg:items-center lg:gap-4">
      <ul class="flex items-center gap-1">
        {% for item in linklists['shop-menu'].links %}
          <li>
            <a href="{{ item.url }}" class="inline-block">
              {{- item.title -}}
            </a>
            <span>—</span>
            {% if item.links.size > 0 %}
              {% for child in item.links %}
                <a href="{{ child.url }}" class="inline-block">
                  {{- child.title -}}
                  {%- unless forloop.last %},{% endunless -%}
                </a>
              {% endfor %}
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </nav>
    {% comment %} Mobile Menu Button {% endcomment %}
    <button
      type="button"
      class="lg:hidden flex items-center justify-center relative after:absolute after:bottom-0 after:bg-black after:w-full after:h-px after:z-10"
      aria-label="Toggle menu"
    >
      Menu
    </button>
  </div>

  {% comment %} Center Logo {% endcomment %}
  <div class="site-header-logo absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 max-w-60 lg:max-w-80">
    {% if template == 'index' %}
      <h1>
        <a href="/" class="block">
          <span class="sr-only">The Virgin Organic</span>
          {% render 'site-logo' %}
        </a>
      </h1>
    {% else %}
      <a href="/" class="block">
        <span class="sr-only">The Virgin Organic</span>
        {% render 'site-logo' %}
      </a>
    {% endif %}
  </div>

  {% comment %} Right List {% endcomment %}
  <nav class="flex items-center gap-4">
    <ul class="hidden lg:flex lg:items-center lg:gap-1">
      {% for item in linklists['learn-menu'].links %}
        <li>
          <a href="{{ item.url }}" class="inline-block">
            {{- item.title -}}
          </a>
          <span>—</span>
          {% if item.links.size > 0 %}
            {% for child in item.links %}
              <a href="{{ child.url }}" class="inline-block">
                {{- child.title -}}
                {%- unless forloop.last %},{% endunless -%}
              </a>
            {% endfor %}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    <a href="{{ routes.cart_url }}" class="inline-block">
      Cart{% if cart.item_count > 0 %} ({{ cart.item_count }}){% endif -%}
    </a>
  </nav>
</header>

{% comment %} @TODO: make this super performant {% endcomment %}
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const header = document.querySelector('header');
    header.classList.add('transition-colors');
    header.classList.add('duration-300');

    // @TODO: this is a silly mess of class names
    // put them in a variables that make sense
    window.addEventListener('scroll', () => {
      if (window.scrollY > 100) {
        header.classList.remove('lg:bg-transparent', 'lg:text-white');
        header.classList.add('lg:bg-white', 'lg:text-black');
      } else {
        header.classList.add('bg-white', 'text-black', 'lg:bg-transparent', 'lg:text-white');
        header.classList.remove('lg:bg-white', 'lg:text-black');
      }
    });
  });
</script>

{% schema %}
{
  "name": "Site Header",
  "settings": []
}
{% endschema %}
